.divMaster {
  height: 7rem;
  margin: 0 auto;
}

.logoUnam{
  width: 250px;
}
.bgColor {
  background-color: #424242;
}
.footer {
  text-align: center;
  color: white;
}

@media (max-width: 768px) {
  .footer {
    font-size: 0.7rem;
  }
  .logo_unam {
    position: absolute;
    visibility: hidden;
    display: none;
  }
  .logo_acatlan {
    margin: 1rem auto;
    visibility: visible;
    width: auto;
  }
}
